<div class="card">
    <div class="card-header">
        Add a new Product
    </div>
    <div class="card-body">
        <form (submit)="addProduct()">
            <div class="form-group mt-2">
                <label for="code">Product Code: </label>
                <input type="text" class="form-control" name="code" [(ngModel)]="code" placeholder="Insert product's code here...">
            </div>

            <div class="form-group mt-2">
                <label for="name">Product Name: </label>
                <input type="text" class="form-control" name="code" [(ngModel)]="name" placeholder="Insert product's name here...">
            </div>

            <div class="form-group mt-2">
                <label for="price">Product Price: </label>
                <input type="text" class="form-control" name="price" [(ngModel)]="price" placeholder="Insert product's price here...">
            </div>

            <div class="form-group mt-2">
                <label for="quantity">Quantity: </label>
                <input type="text" class="form-control" name="quantity" [(ngModel)]="quantity" placeholder="Insert product's quantity here...">
            </div>
            
            <input type="submit" value="Add Product" class="btn btn-primary mt-4">

        </form>
    </div>
</div>